<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shorcut" href="img/logos/logo.jpg">
</head>
<body>
    <h1>inicio de sesion</h1>
    <form action="#">
        <p>ingresa el usuario: <input type="text"></p>
        <p>introduce la contraseña: <input type="password" name="" id=""></p>
        <input type="submit" value="iniciar sesion">
    </form>
</body>
</html>